@media (prefers-color-scheme: dark) {
    :root {
        --theme-pcs-bg: #222;
        --theme-pcs-color: #ddd;
        --theme-pcs-semi: #444;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --theme-pcs-bg: #ddd;
        --theme-pcs-color: #222;
        --theme-pcs-semi: #bbb;
    }
}
:root {
    font-family: sans-serif;
    --theme-default-bg: #ddd;
    --theme-default-color: #222;
    --theme-default-semi: #bbb;
    --theme-bg: var(--theme-pcs-bg, var(--theme-default-bg));
    --theme-color: var(--theme-pcs-color, var(--theme-default-color));
    --theme-semi: var(--theme-pcs-semi, var(--theme-default-semi));
}
body {
    background: var(--theme-bg);
    color: var(--theme-color);
}
h1 {
    text-align: center;
}
div.sitetreeroot {
    text-overflow: ellipsis;
}
div.sitetreeitem {
    background-color: var(--theme-semi);
}
div.sitetreeitem:nth-child(2n) {
    background-color: var(--theme-bg);
}
a {
    color: var(--theme-color);
}