:root {
    --theme-bg: #ddd;
    --theme-color: #222;
    --theme-start: #2d2;
    --theme-bg-semi: #bbb;
}
@media (prefers-color-scheme: dark) {
    :root {
        --theme-bg: #222;
        --theme-color: #ddd;
        --theme-start: #060;
        --theme-bg-semi: #444;
    }
}
body {
    background: var(--theme-bg);
    color: var(--theme-color);
}
button {
    background: var(--theme-bg-semi);
    border: none;
    border-radius: 3px;/*todo: colors for bg and button*/
}
.start {
    background: var(--theme-start);
    color: var(--);
    margin: auto;
} /*todo: add j.css